.feedback {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75%;
    justify-content: space-evenly;
  }

#evaluation {
  animation: fadeIn 1s;
}
#the-word-was {
  animation: fadeIn 1s;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}

#you-wrote {
  animation: fadeIn 1s;
  animation-delay: 2s;
  animation-fill-mode: backwards;
}