.input-form {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
    justify-content: space-evenly;
  }

.arabic-user-input {
    direction: rtl;
}

input {
    display: block;
    padding: 5px;
    font-size: larger;
    width: 50%;
    max-width: 150px;
    border-radius: 5px;
    border: 1px solid var(--accent-color-1);
    outline: none;
    background-color: var(--text-color);
    color: var(--background-color)
}