* {
    --selected-color: lightgreen;
}

.letter {
    margin: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: x-large;
    border: 1px solid black;
    border-radius: 5%;
    width: 45px
}

.letter:hover {
    cursor: pointer;
    background-color: var(--selected-color);
}

.selected {
    background-color: var(--selected-color);
}