.letter-component-list {
    max-width: 500px;
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}