@import url("https://fonts.googleapis.com/css2?family=Carme&family=Noto+Naskh+Arabic:wght@400;500&family=Vujahday+Script&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --background-color: #F1F2F6;;
  --text-color: #25554A;
  --accent-color-1: #56638A;
  --title-font: 'Vujahday Script', cursive;
  --body-font: 'Carme', sans-serif;
  --arabic-font: 'Noto Naskh Arabic', serif;
}

html, body, #root {
  height: 100%;
}

h1 {
  font-family: var(--title-font);
  margin: 15px;
}

p {
  font-family: var(--body-font);
  font-size: larger;
  line-height: 170%;
}

.arabic {
  font-family: var(--arabic-font)
}

.App {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* button styling */

button {
  width: 75px;
  height: 50px;
}

button:hover {
  cursor: pointer;
}

.invisible {
  display: none !important;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
*/
/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}  */
